* {
	margin: 0;
	padding: 0;
}

#mainScreen {
	width: 512px;
	height: 768px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.bg {
	width: 512px;
	height: 768px;
	background: url(../img/bg.png);
	background-size: 512px 768px;
	position: absolute;
}

#bg2 {
	top: -768px;
}

#airplane {
	width: 109px;
	height: 82px;
	background: url(../img/airplane.png);
	position: absolute;
	left: 207px;
	top: 670px;
}

.bullet {
	position: absolute;
	background: url(../img/bullet.png);
	width: 5px;
	height: 10px;
	background-size: 5px 10px;
}

.tank {
	position: absolute;
	background: url(../img/tank.png);
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}